@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: 30;
	font-style: normal;
	font-color: #002EA5;
	text-align: 'center';
}

* {
	font-family: 'KOTRAHOPE';
}

div{
	text-align:center;
}

h1{
	font-size:64px;
	margin:0;
}

.link{
	font-size:50px;
	text-decoration:none;
	color:#000000;
}


#spotify {

    align-items:center;
   	box-shadow:0px 4px 4px 0px #CBCBCB;
    
}

span{
	font-size:2vw;
	margin-top: -5px; /* Adjust the margin to move the text higher */
    order: 2; /* Change the order of the text to move it to the left */
}


#logo{
	margin:0;
}

#spotifyLogo{
	width:4vw;
	height:4vw;
	 order: 1;	
	 margin-right:2vw;
	 margin-left:4.5vw;
}

 
.button-68 { appearance: none; 
backface-visibility: hidden; 
background-color: #0EB815; 
border-radius: 8px; 
border-style: none; 
box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
 box-sizing: border-box; 
 height:15%;
 width:35%;
 color: #fff; 
 cursor: pointer; 
 display: flex; 
 font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif; 
 font-size: 80%; 
 font-weight: 600;
  letter-spacing: normal; 
  line-height: 1.5; 
  outline: none; 
  overflow: hidden; 
  padding: 13px 20px; 
  position: relative;
  text-align: center; 
  text-decoration: none; 
   transform: translate3d(0, 0, 0); 
   transition: all .3s;
   user-select: none; 
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: top;
   white-space: nowrap;
   display: flex center; 
   align-items: center;
/*    justify-content: center; 
 */  /*  justify-content: space-between; */
   margin:0 auto;
   } 
   
 .button-68:hover { 
 background-color: #1e8449;
 opacity: 1; 
 transform: translateY(0); 
 transition-duration: .35s;
  } 
 .button-68:active { 
 transform: translateY(2px); 
 transition-duration: .35s; 
 } 
 .button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px; 
  }
