@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: 30;
	font-style: normal;
	font-color: #002EA5;
	text-align: 'center';
}

* {
	font-family: 'KOTRAHOPE';
}

.button{
	background-color: #FFE2F8;
	color: #002EA5;
	border: none;
	width: 331px;
	height: 110px;
	font-size:30px;
	border-radius:30px;
	box-shadow:0px 4px 4px 0px #CBCBCB;
}

table {
    width: 80%;
    height:100%;
   /*  border: 1px solid #444444; */
    margin:auto;
  }
  td {
/*      border: 1px solid #444444;
 */   }
  
  
  /* 상단바 부분 image 위치 및 크기 조정 */
	/* td별 width % 지정  */
	#logo{
		width:28%;
		vertical-align:middle;
	}
	#mainGom{
		width:26%;
		height:480px;
	}
	#btnGom{
		width:14%;
		vertical-align:bottom;
	}
	#login{
		width:12%;
		vertical-align:bottom;
		padding-bottom:15px;
		
	}
	#tr-2.td{
		height:200px;
	}
	
	/* 이미지 크기 변경 */
	#logoImg{
		width:239px;
		height:244px;
	}
	
	#bear{
		width:460px;
		height:460px;
	}
	
	#mypage{
		width:125px;
		height:123px;
		vertical-align:top;
		text-align:center;
		
		
	}
	#mypageFont{
		color:gray;
		text-decoration:none;
		margin-right:25%
	}
  /* 글꼴 크기 변경 및 스타일 */
	  #loginText{
		font-size:32px;
		color: #002EA5;
		text-decoration:none;
		/* vertical-align: top; */
		/* margin-top: 25px; */
 	}
 	
  /* 메인 가운데 부분 센터 정렬  */
  .bottom{
  	text-align:center;
  }
 	
 .top{
 	height:80px;
 }
 	
 	
 	
/* #headline{
	font-size:46px;
}

div{
	text-align:center;
}

.header-container {
	width:100%;
	
    margin: 5px;
    padding:40px;

    position:fixed;
}

#btn-font{
	color:gray;
	cellpadding:"0";
	text-align:center;
	text-decoration:none;
	vertical-align: top;
}

#center{
	margin-left:auto;
	margin-right:auto;
}

#td-t{
	width:50%;
	text-align: center;
}

#td-m{
	width:30%;
	text-align: center;
	
}

#td-l{
	width:20%;
	
}

#logo{
	width:239px;
	height:244px;
	vertical-align: top;
	display: inline-block;
}
#bear{
	width:460px;
	height:460px;
}
#mypage{
	width:125px;
	height:123px;
	vertical-align: top;
	margin-top: 15px;
	
}

.top{
	 vertical-align: top;
}
#td-t, #td-m, #td-l {
    vertical-align: top; Align cells content to the top
}


#login{
	font-size:32px;
	color: #002EA5;
	text-decoration:none;
	vertical-align: top;
	margin-top: 25px;
}

#table.tr{
	width:50%;
	align-items:center;
	text-align: center; 
	vertical-align: middle;
}

.button {
        display: inline-block;
        height:112px;
        align:center;
        } */
