@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: 30;
	font-style: normal;
	font-color: #002EA5;
	text-align: 'center';
}

* {
	font-family: 'KOTRAHOPE';
}

.button{
	background-color: #FFE2F8;
	color: #002EA5;
	border: none;
	width: 331px;
	height: 110px;
	font-size:30px;
	border-radius:30px;
	box-shadow:0px 4px 4px 0px #CBCBCB;
}
#headline{
	font-size:46px;
}

div{
	text-align:center;
}

.header-container {
	width:100%;
	
    margin: 5px;
  /*   padding:40px; */

    position:fixed;
}

#btn-font{
	color:gray;
	cellpadding:"0";
	text-align:center;
	text-decoration:none;
	vertical-align: top;
}

#center{
	margin-left:auto;
	margin-right:auto;
}

#td-t{
	width:50%;
	text-align: center;
}

#td-m{
	width:30%;
	text-align: center;
	
}

#td-l{
	width:20%;
	
}

#logo{
	width:239px;
	height:244px;
	vertical-align: top;
	display: inline-block;
}
#bear{
	width:460px;
	height:460px;
}
#mypage{
	width:125px;
	height:123px;
	vertical-align: top;
	margin-top: 15px;
	
}

.top{
	 vertical-align: top;
}
#td-t, #td-m, #td-l {
    vertical-align: top; /* Align cells content to the top */
}


#login{
	font-size:32px;
	color: #002EA5;
	text-decoration:none;
	vertical-align: top;
	margin-top: 25px;
}

#table.tr{
	width:50%;
	align-items:center;
	text-align: center; 
	vertical-align: middle;
}

.button {
        display: inline-block;
        height:112px;
        align:center;
        }
