@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: 30;
	font-style: normal;
	font-color: #002EA5;
	text-align: 'center';
}

* {
	font-family: 'KOTRAHOPE';
}

.button{
	background-color: #FFE2F8;
	color: #002EA5;
	border: none;
	width: 331px;
	height: 110px;
	font-size:30px;
	border-radius:30px;
	box-shadow:0px 4px 4px 0px #CBCBCB;
}



 .table1,.table2 {
    width: 80%;
    /* border: 1px solid #444444; */  
    margin:auto;
  }
  td {
        /*  border: 1px solid #444444; */ 
    }
  
  
  /* 상단바 부분 image 위치 및 크기 조정 */
	/* td별 width % 지정  */
	#logo{
		width:30%;
		/* vertical-align:middle; */
		text-align:right;
	
		top: 0; 
		right: 0;
	}
	#mainGom{
		width:24%;
		height:480px;
		margin:0;
		padding:0;
	}
	#btnGom{
		width:14%;
		vertical-align:bottom;
	}
	.mypage{
	vertical-align:top;
		padding-bottom:15px;
	}
	#loggedOut{
		width:12%;
		vertical-align:top;
		padding-bottom:15px;
		
	}
	#loggedIn{
		width:12%;
		vertical-align:top;
		padding-bottom:15px;
		padding-left:25px;
	}
	.tr-2{
		height:10px;
	}
	
	/* 이미지 크기 변경 */
	#logoImg{
		width:239px;
		height:244px;
	}
	
	#bear{
		width:460px;
		height:460px;
	}
	
	#mypage{
		width:120px;
		height:120px;
		vertical-align:top;
		text-align:center;
		
	}
	
	#title{
		padding:0;
		margin:0;
	}
	#mypageFont{
		color:lightgray;
		text-decoration:none;
		margin-right:25%;
		font-size:32px;
	}
  /* 글꼴 크기 변경 및 스타일 */
	  #loginText{
		font-size:32px;
		color: #002EA5;
		text-decoration:none;
		/* vertical-align: top; */
		/* margin-top: 25px; */
 	}
 	
  /* 메인 가운데 부분 센터 정렬  */
  .bottom{
  	text-align:center;
  }
 	
 .top{
 	height:80px;
 }
 /* 댓글 부분 */

  #cnt,#cmtBox,#userId{
 	font-size:28px;
 	padding-left:10%;
 } 
  #cmtBox{
 	width: 70%;/* calc(50% - 10px) */
 	height:40px;
 	margin-right: 15px;
 	background-color: rgba(215, 215, 215, 0.29);
 	margin-left:105px;
 } 
 .input{
 	 
 	 /* text-align: center; */ /* Center the content horizontally */
            vertical-align: middle; /* Center the content vertically */
 }
  #userId{
 	font-size:25px;
 } 
  #comment{
 	font-size:20px;
 	padding-left:15%;
 } 
  #submit{
	background-color: #FFC6F2;
	color: #000000;
	border: none;
	width: calc(60% - 10px); 수정: 왼쪽과 오른쪽 여백 동일하게 조절
	height:100%;
	font-size:26px;
	box-shadow:0px 4px 4px 0px #CBCBCB;
	border-radius:20px;
	margin-left: 11px; 수정: 왼쪽 여백 추가
	
}
#submit{
	height:55px;
}

.tall-row {
        height: 270px; 
    }
    
    #nickname {
    width: 12%;
    vertical-align: top;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size:20px;
    color:#C3C3C3;
	}
