@charset "UTF-8";



.modal-content {
	background-color:#EBEBEB !important;
	opacity:0.95;
	margin-top: 50px;

}

#scroll{
	max-height: 500px; 
    overflow-y: auto;
}

.cover1 {
	background-color: #D9D9D9;
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.td {
	padding:15px;
	padding-left:30px;
	/* padding-right:30px; */
	padding-bottom:20px;
}


#add {
	display: flex;
	justify-content : flex-end;
	font-size:45px;
	padding:3px;
}

.pltitle{
	display: flex;
	justify-content : flex-start;
	font-size:24px;
}

.close-btn {
	width:80px !important;
	height:43px !important;
	background-color:#FFC6F2 !important;
	border: none;
	border-radius:10px;
	font-size:24px;
}

#modaltable td:nth-child(1){
	width:23%;
}

#modalContent{
	font-size:24px;
	border:none;
	resize:none;
	background-color:#D9D9D9;
	
}
#modalContent:focus{
	outline:none;
}

#modalAlert .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
}

#modalAlert .modal-content {
    text-align: center;
}

#modalplus .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalplus .modal-content {
    text-align: center;
}

#modalplus .modal-title {
    display: block;
    margin: 0 auto;
}



.notification, .notification2 {
    position: fixed;
    font-size:17px;
    font-weight: 100;
    width:270px;
    
    right: 15px;
    bottom: 20px;
    
    padding: 15px 20px;
    background-color: #EBEBEB;
    opacity: 0.7;
    border-radius: 10px;
    animation: fadeOutAndIn 5s ease-in-out;
    display: none;
}

@keyframes fadeOutAndIn {
    10%, 90% { opacity: 0.9; }
    20%, 80% { opacity: 0.9; }
    30%, 70% { opacity: 0.7; }
    40%, 60% { opacity: 0.5; }
    50% { opacity: 0.5; }
    100% { opacity: 0; display: none; }
}

  
