@charset "UTF-8";
/* MyPage CSS -- ch */
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'KOTRAHOPE';
	font-weight: 50;
	text-align:center;
}
h2{
	text-align:center;
}
.pl{
	font-size:40px;
}
#head{
	width:100%;
}
#mainpage {
	width:100px;
    height:100px;
}

.logo {
     width:160px;
    height:160px;
}
.pl{
	font-size: 40px;
}

.myplay{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:10px;
    
}

.back {
	width: 120px;
	height: 120px;
}
.cover{
	width: 120px;
	height: 120px;
}
.backft {
	bottom: 0;
	color: lightgray;
	font-size: 32px;
	text-decoration-line:none;
}
.playListTable {
  width: 100%;
  border-collapse: collapse;
}
.mypl{
	font-size:40px;
	
}
.playListTable tbody tr {
	margin-bottom:50px;
}
.playListTable td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  
}

#plname a {
  text-decoration: none;
  color:black;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
  text-align:left;
}

.cover {
  max-width: 100px; /* 이미지 최대 너비를 원하는 값으로 조절할 수 있습니다. */
  height: auto;
  display: block;
  margin: 0 auto; /* 이미지를 가운데로 정렬합니다. */
}


