@charset "UTF-8";
/* MyPage CSS -- ch */
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'KOTRAHOPE';
	font-weight: 50;
	text-align:center;
}

.pl{
	font-size:40px;
}
#head{
	width:100%;
}

.logo {
     width:160px;
    height:160px;
}

.myplay{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:10px;
    
}

.back {
	width: 120px;
	height: 120px;
}
.cover{
	width: 120px;
	height: 120px;
}
.backft {
	bottom: 0;
	color: lightgray;
	font-size: 32px;
	text-decoration-line:none;
}
.playListTable {
  width: 80%;
  margin: auto; /* 테이블을 가운데 정렬합니다. */
  border-collapse: collapse;
}
.mypl{
	font-size:40px;
	margin:auto;
}
.playListTable tbody tr {
	margin-bottom:50px;
	
}
.playListTable td {
  align: center;
  vertical-align: middle;
  padding: 8px;
  
}

#plname a {
  text-decoration: none;
  color:black;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
  text-align:left;
  padding: 8px;
}
.del {
	width: 20%;
}

.del_img {
	width: 30px;
	height: 40px;
}
.edit {
	width: 20%;
}

.edit_img {
	width: 40px;
	height: 40px;
	margin-right:40px;
}
