@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'KOTRAHOPE';
	font-weight: 50;
	text-align: center;
}

#navi-head {
	width: 100%;
}

.head-ba{
	width:20%;
}

.back {
	width: 120px;
	height: 120px;
}

.backft {
	bottom: 0;
	color: lightgray;
	font-size: 32px;
	text-decoration-line: none;
}

.head-na{
	width:60%;
}

.pl {
	font-size: 40px;
}

.head-lg{
	width:20%;
}

.logo {
	width: 160px;
	height: 160px;
}

.albumimg{
	width:10vh;
	height:10vh;
}

.si {
	font-size: 30px;
	width: 30%;
	text-align: left;
}

.pi {
	width: 25%;
	text-align: center;
}

.ga {
	text-align: center;
	width: 25%;
	font-size: 30px;
}

.del {
	width: 20%;
}

.del_img {
	width: 45px;
	height: 45px;
	float: center;
}

.albumimg {
    width: 120px;
    height: 120px;
    object-fit: cover; /* 이미지가 자동으로 크기에 맞게 잘리지 않도록 설정 */
}

#sing-mi {
    width: 100%;
}

/* 여기서부터 css 정리 */
#navi-foot {
	width: 100%;
}

.si_btn {
	width: 10%;
}

.bt_img {
	float: right;
	width: 50px;
	height: 50px;
}


.at_img {
	float: left;
	width: 50px;
	height: 50px;
}

.im_foot{
	width: 120px;
	height: 120px;
}

.si_foot {
	width: 30%;
	font-size: 30px;
}

.ga_foot {
	width: 20%;
	font-size: 30px;
	text-align: center;
}

.sa_btn {
	width: 10%;
}

.so_img {
	float: left;
	width: 50px;
	height: 50px;
}
    
.volume-slider {
      display: none;
}

/* ---- */
.modal-content {
	background-color:#EBEBEB !important;
	opacity:0.95;
	margin-top: 50px;
	
}

.del-td {
	padding:20px;
	/* padding-right:40px; */
	padding-bottom:30px;
	text-align:center;
}

.singdel{
	display: flex;
	justify-content : center;
	font-size:36px;
	text-align:center;
}

a{
	color: inherit;
	text-decoration: none;
	outline: none;
	font-size: 32px;
}

.close-btn {
	width:80px !important;
	height:43px !important;
	background-color:#FFC6F2 !important;
	border: none;
	border-radius:10px;
	font-size:20px;
	margin-left:20px;
	margin-right:20px;
}

#modaltable{
	padding:15px;
	width:100%;
	
}

.modal{
	padding-left:17px;
}

