@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'KOTRAHOPE';
	font-weight: 50;
	text-align: center;
}

#navi-head{
	width:100%;
}


.back {
	width: 120px;
	height: 120px;

}

.backft {
	bottom: 0;
	color: lightgray;
	font-size: 32px;
	text-decoration-line:none;
}

.pl{
	font-size:40px;
}

.logo{
	width: 160px;
	height: 160px;
	
}

.si{
	font-size: 30px;
	width:40%;
	text-align:left;
}

.pi{
	width:25%;
	text-align:center;
}

.ga{
	text-align:left;
	width:35%;
	font-size:30px;
	
}

#sing-mi{
	width:100%;
}